 
 #box{
    color: #9ec592;
    background-color:rgb(144, 189, 172);
    gap: px;
    margin: 20px;
    padding: 1px;
    height: 400px;
    border-radius: 20px;
 }
 .box1{
    height: 250px;
    width: 200px;
    color: rgb(3, 0, 0);
    background-color: #db4848;
    flex-direction: row;
    justify-content: center;
     
    text-shadow: #324d2f 1px 1px ;
    float: left;
    padding: 10px;
    margin: 3%;
    border-radius: 20px;
    
}
.box2{
    height: 250px;
    width: 200px;
    color: rgb(8, 15, 2);
    background-color: #6d79e7;
    flex-direction: row;
    justify-content: center;
    
    float:  inline-start;
    padding: 10px;
    margin: 3%;
    border-radius: 20px;
}
.box3{
    height: 250px;
    width: 200px;
    color: rgb(3, 5, 0);
    background-color: #3ecc12;
    flex-direction: row;
    justify-content: center;
   float: inline-start;
    padding: 10px;
    margin: 3%;
    border-radius: 20px;
}
.box4{
    height: 250px;
    width: 200px;
    color: rgb(0, 0, 0);
    background-color: #fa25d6;
    flex-direction: row;
    justify-content: center;
     float: inline-start;
    padding: 10px;
    margin: 3%;
    border-radius: 20px;
     box-shadow: #cad621 20px rgb(238, 83, 22) 20px;
} 
 
img{
    border-radius: 20px;
    height: 200px;
    width: 200px;
}